# Data Gathering (COVID-19)

The team over at Galaxy has put together a script to collect publically available data. I will be using <a href="https://github.com/galaxyproject/SARS-CoV-2">https://github.com/galaxyproject/SARS-CoV-2</a> to get us started.

In [11]:
OUTPUT="/disk/home/ubuntu/covid19/" # this needs to be specific to your system

In [10]:
%%bash -s "$OUTPUT"
OUTPUT=$1
#mkdir $OUTPUT # commented out when you already have your directory

Download the script. Again. This is only necessary once.

In [15]:
%%bash -s "$OUTPUT"
OUTPUT=$1
git clone https://github.com/galaxyproject/SARS-CoV-2 $OUTPUT/SARS-CoV-2

Cloning into '/disk/home/ubuntu/covid19//SARS-CoV-2'...

In [19]:
import pandas as pd

In [22]:
var_path = '%s/SARS-CoV-2/genomics/4-Variation/variant_list.tsv'%OUTPUT
gb_path = '%s/SARS-CoV-2/genomics/4-Variation/NC_045512.2.genbank'%OUTPUT

In [23]:
var  = pd.read_csv(var_path, sep='\t')

In [24]:
var.head()

,Sample,CHROM,POS,REF,ALT,DP,AF,SB,DP4,EFF[*].IMPACT,EFF[*].FUNCLASS,EFF[*].EFFECT,EFF[*].GENE,EFF[*].CODON
0,SRR10903401,NC_045512,1409,C,T,126,0.039683,1,"67,54,2,3",MODERATE,MISSENSE,NON_SYNONYMOUS_CODING,orf1ab,Cat/Tat
1,SRR10903401,NC_045512,1821,G,A,93,0.096774,0,"48,36,5,4",MODERATE,MISSENSE,NON_SYNONYMOUS_CODING,orf1ab,gGt/gAt
2,SRR10903401,NC_045512,1895,G,A,106,0.037736,0,"51,51,2,2",MODERATE,MISSENSE,NON_SYNONYMOUS_CODING,orf1ab,Gta/Ata
3,SRR10903401,NC_045512,2407,G,T,123,0.024390,0,"57,63,1,2",MODERATE,MISSENSE,NON_SYNONYMOUS_CODING,orf1ab,aaG/aaT
4,SRR10903401,NC_045512,3379,A,G,121,0.024793,0,"56,62,1,2",LOW,SILENT,SYNONYMOUS_CODING,orf1ab,gtA/gtG

**Questions:**
1. What is this table telling us?
2. How did the Galaxy team create it?